*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.page-header.catalog-page {
  margin-bottom: 55px;
  padding-bottom: 110px;
}

.main-menu {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-menu__list,
.main-menu-user__list,
.slider__list,
.about-us__info-list,
.partners__list,
.social-network__list,
.filter__radio-list,
.filter__checkbox-list,
.sorting__list,
.order__list {
  list-style: none;
}

.main-menu__link {
  color: #000000;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #fb565a;
}

.main-menu__link:active {
  color: #a6a6a6;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navigation-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.navigation-panel.catalog-page {
  margin-bottom: 70px;
}

.logo__container {
  width: 200px;
  height: 65px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-menu__item {
  position: relative;
  margin-right: 46px;
}

.main-menu__list .current::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.main-menu-user__list {
  align-self: flex-end;
}

.main-menu__user-item {
  position: relative;
}

.main-menu__user-item::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -40px;
  content: "";
  width: 16px;
  height: 18px;
  background-image: url("/img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3
}

.main__logo:hover,
.main__logo:focus {
  opacity: 0.8;
}

.main__logo:active {
  opacity: 0.3;
}

.slider__box {
  position: relative;
}

.slider {
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
}

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
  box-sizing: content-box;
}

.slider__controls-toggle {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls-toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider__controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__item {
  display: none;
  padding: 71px 0 80px 0;
}

.slider__item:nth-child(1) {
  /* Переключатель слайдов */
  display: block;
}

.slider__item:nth-child(1) {
  background-image: url("/img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider__item:nth-child(2) {
  background-image: url("/img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider__item:nth-child(3) {
  background-image: url("/img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider__info-caption,
.catalog-page__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider__info-caption {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;
}

.slider__text-decoration {
  margin: 0;
  margin-bottom: 40px;
}

.catalog-page__title {
  max-width: 735px;
  margin: 0 215px;
  padding: 0;
}

.btn {
  display: inline-block;
  max-width: 430px;
  padding: 16px 40px;
  text-align: center;
  vertical-align: middle;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.btn__feedback {
  padding: 16px 44px;
}

.btn__filter {
  padding: 16px 90px;
}

.btn__price {
  padding: 16px 60px;
}

.btn__red {
  background-color: #fb565a;
}

.btn__red:hover,
.btn__red:focus {
  background-color: #e74246;
}

.btn__red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 #c13135;
}

.btn__green {
  background-color: #00ca74;
}

.btn__green:hover,
.btn__green:focus {
  background-color: #00bc6c;
}

.btn__green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 #009958;
}

.btn__yellow {
  background-color: #efc84a;
}

.btn__yellow:hover,
.btn__yellow:focus {
  background-color: #eab534;
}

.btn__yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.btn__gray {
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.btn__gray:hover,
.btn__gray:focus {
  background-color: #dfdfdf;
}

.btn__gray:active {
  background-color: #d5d5d5;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.products {
  margin-bottom: 80px;
}

.product__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.product__item {
  width: 300px;
}

.product__item:last-of-type {
  margin-right: 60px;
}

.product__caption {
  display: block;
  margin-top: 18px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.product__info {
  margin: 0;
  margin-bottom: 32px;
}

.about-us {
  padding-top: 42px;
}

.about-us__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.about-us__info {
  width: 700px;
  padding-top: 35px;
}

.about-us__info-caption {
  display: block;
  margin-bottom: 33px;
}

.about-us__info-text-decoration {
  margin: 0;
  margin-bottom: 38px;
}

.about-us__info-subtitle {
  display: block;
  margin-bottom: 25px;
}

.about-us__statistic-subtitle {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 16px;
}

.about-us__info-list {
  margin: 0;
  padding: 0;
}

.about-us__info-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 35px;
}

.about-us__info-item::before {
  position: absolute;
  top: 40%;
  left: 0px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us__statistic {
  width: 360px;
}

.about-us__statistic-list {
  display: flex;
  justify-content: space-between;
}

.about-us__statistic-item:last-child {
  margin-right: 10px;
}

.about-us__statistics-text-decoration {
  margin: 0;
  font-size: 45px;
  margin-bottom: 15px;
}

.about-us__statistics-span {
  line-height: 18px;
}

.about-us__statistics-sup {
  position: relative;
  top: -0.7em;
  left: -0.4em;
  font-size: 55%;
}

.about-us__info-caption,
.about-us__statistics-text-decoration,
.feedback__subtitle {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.about-us__info-subtitle,
.about-us__statistic-subtitle {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.partners__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 78px;
}

.product__list::after,
.partners__list::after,
.about-us__container::after {
  position: absolute;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
  text-align: center;
}

.partners__list::after {
  top: 175px;
}

.product__list::after {
  top: 428px;
}

.about-us__container::after {
  top: 485px;
}

.partners__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 180px;
}

.partners__item {
  position: relative;
}

.partners__item:not(:first-child)::after {
  position: absolute;
  top: 60px;
  right: 280px;
  content: "";
  width: 2px;
  height: 55px;
  background-color: #eeeeee;
}

.partners__logo {
  opacity: 0.2;
}

.partners__logo:hover,
.partners__logo:focus {
  opacity: 1;
}

.partners__logo:active {
  opacity: 0.1;
}

.coordinates__subtitle,
.catalog__item-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.sorting-form__container {
  display: flex;
}

.sorting__list,
.order__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting__list {
  margin-right: 52px;
}

.sorting__item:not(:last-child) {
  margin-right: 25px;
}

.order__item:not(:last-child) {
  margin-right: 17px;
}

.sorting__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorting__link {
  font-size: 14px;
  line-height: 18px;
  color: rgba(000, 000, 000, 0.3);
  text-transform: uppercase;
}

.sorting__link:hover,
.sorting__link:focus {
  color: rgba(000, 000, 000, 0.6);
}

.sorting__link:active,
.sorting__item .current {
  color: #000000;
}

.order__item-arrowdown {
  align-self: center;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ededed;
  cursor: pointer;
}

.order__item-arrowup {
  align-self: center;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ededed;
  cursor: pointer;
}

.order__item-arrowdown:hover,
.order__item-arrowdown:focus {
  border-top-color: #a6a6a6;
}

.order__item-arrowup:hover,
.order__item-arrowup:focus {
  border-bottom-color: #a6a6a6;
}

.order__item-arrowdown:active,
.order__item.current {
  border-top-color: #231f20;
}

.order__item-arrowup:active,
.order__item.current {
  border-bottom-color: #231f20;
}

.catalog-filter__container {
  display: flex;
  justify-content: space-between;
}

.filter__radio,
.filter__checkbox,
.filter__amount {
  border: none;
  margin: 0;
  padding: 0;
}

.filter__amount {
  margin-bottom: 55px;
}

.filter {
  width: 300px;
}

.filter__range {
  width: 260px;
  margin-top: 45px;
}

.filter__controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-sizing: content-box;
}

.filter__controls .scale {
  height: 2px;
  background: #d7dcde;
}

.filter__controls .bar {
  width: 65%;
  height: 2px;
  background: #00ca74;
}

.filter__controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.filter__input[type="radio"],
.filter__input[type="checkbox"] {
  display: none;
}

.filter__radio-label,
.filter__checkbox-label {
  position: relative;
  cursor: pointer;
  word-wrap: break-word;
}

.filter__radio-label::before,
.filter__radio-label::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -35px;
    border-radius: 50%;
}

.filter__radio-label::before {
  width: 25px;
  height: 25px;
  border: solid 4px #a6a6a6;
}

.filter__radio-label::after {
  width: 25px;
  height: 25px;
  background-color: #a6a6a6;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s;
}

.filter__input[type="radio"]:checked ~ .filter__radio-label::after {
  transform: scale(0.35);
}

.filter__checkbox-label::before,
.filter__checkbox-label::after {
    content: "";
    position: absolute;
    display: block;
}

.filter__checkbox-label::before {
  position: absolute;
  top: -5px;
  left: -35px;
  width: 23px;
  height: 23px;
  border: solid 2px #a6a6a6; 
  border-radius: 3px;
  z-index: 0;
}

.filter__checkbox-label::after {
  top: -4px;
  left: -30px;
  border: solid 4px #a6a6a6;
  display: none;
}

.filter__input[type="checkbox"]:checked ~ .filter__checkbox-label::after {
  display: block;
  width: 20px;
  height: 10px;
  border-color: #a6a6a6;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
  z-index: 1;
}

.price__controls {
  display: flex;
  width: 260px;
}

.price__controls-label {
  display: inline-block;
  width: 50%;
  line-height: 22px;
  text-transform: uppercase;
}

.price__controls-label.min-price {
  margin-right: 30px;
}

.price__controls .price__input {
  width: 80px;
  padding: 10px 10px;
  margin-left: 7px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #f1f1f1;
}

.filter__controls .toggle-min {
  /* Управление ползунком */
  left: 18px;
}

.filter__controls .toggle-max {
  /* Управление ползунком */
  left: 160px;
}

.filter__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter__radio {
  margin-bottom: 40px;
}

.filter__checkbox {
  margin-bottom: 47px;
}

.filter__radio-item,
.filter__checkbox-item {
  padding-left: 35px;
  padding-top: 20px;
  line-height: 20px;
}

.filter__radio-list,
.filter__checkbox-list {
  margin: 0;
  padding: 0;
}

.catalog {
  width: 760px;
}

.catalog__item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  position: relative;
  margin-bottom: 27px;
  cursor: pointer;
}

.catalog__item::before {
  display: block;
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("/img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog__item-info {
  display: none;
  position: absolute;
  top: 385px;
  width: 360px;
  height: 230px;
  background-color: #eeeeee;
  text-align: center;
}

.catalog__item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog__item:hover > .catalog__item-info {
  display: block;
}

.catalog__item:hover > .catalog__item::before {
  opacity: 1;
}

.catalog__item-subtitle,
.catalog__item-text {
  margin: 0;
  padding: 0;
}

.catalog__item-subtitle {
  padding-top: 30px;
  margin-bottom: 20px;
}

.catalog__item-text {
  margin-bottom: 30px;
}

.page-switcher__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 60px;
}

.page-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 17px;
  margin-right: 12px;
  background-color: #eeeeee;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  text-transform: uppercase;
}

.page-switcher:last-child {
  padding: 13px 75px;
}

.page-switcher:hover,
.page-switcher:focus {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.page-switcher:active {
  background-color: #d5d5d5;
  border: none;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.page-switcher__container .current {
  background-color: transparent;
  border: 3px solid #dbdbdb;
}

.map__box {
  height: 418px;
}

.coordinates {
  margin-bottom: 70px;
  background-image: url("/img/map.png");
  background-repeat: no-repeat;
  background-position: center;
}

.coordinates__subtitle {
  display: block;
  margin-bottom: 25px;
}

.coordinates__info,
.coordinates__text-decoration {
  color: #666666;
}

.coordinates__info {
  margin: 0;
  margin-bottom: 13px;
}

.coordinates__text-decoration {
  margin: 0;
  margin-bottom: 35px;
}

.coordinates__info,
.catalog__item-text {
  line-height: 18px;
  color: #666666;
}

.feedback {
  position: relative;
  margin-bottom: 70px;
}

.feedback__form {
  position: absolute;
  top: 55px;
  padding: 47px 50px;
  background-color: #fff;
}

.feedback__label {
  font-weight: 700;
  line-height: 18px;
}

.feedback__popup {
  display: none;
}

.social-network {
  width: 300px;
}

.social-network__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.social-network__call-caption {
  display: block;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.social-network__call-text {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

.social-network__call {
  width: 760px;
}

.social-network__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
  vertical-align: middle;
}

.social-network__item:last-child {
  margin-right: 40px;
}

.social-network__link:hover,
.social-network__link:focus {
  background-color: #e74246;
}

.social-network__link:active path {
  fill: #e37376;
}

.social-network__link:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #b63e42;
}

