*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.page-header.catalog-page {
  margin-bottom: 55px;
  padding-bottom: 110px;
}

.main-menu {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-menu__list,
.main-menu-user__list,
.slider__list,
.about-us__info-list,
.partners__list,
.social-network__list,
.filter__radio-list,
.filter__checkbox-list,
.sorting__list {
  list-style: none;
}

.main-menu__link {
  color: #000000;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #fb565a;
}

.main-menu__link:active {
  color: #a6a6a6;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navigation-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.navigation-panel.catalog-page {
  margin-bottom: 70px;
}

.logo__container {
  width: 200px;
  height: 65px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-menu__item {
  margin-right: 47px;
}

.main-menu-user__list {
  align-self: flex-end;
}

.main-menu__user-item {
  position: relative;
}

.main-menu__user-item::before {
  position: absolute;
  top: 7px;
  left: -40px;
  content: "";
  width: 16px;
  height: 18px;
  background-image: url("/img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3

}

.main__logo:hover,
.main__logo:focus {
  opacity: 0.8;
}

.main__logo:active {
  opacity: 0.3;
}


.slider__box {
  position: relative;
}

.slider {
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
}

.slider__item {
  display: none;
  padding: 71px 0 80px 0;
}

.slider__item:nth-child(1) { 
  background-image: url("/img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider__item:nth-child(2) {
  background-image: url("/img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider__item:nth-child(3) {
  background-image: url("/img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider__list .slider__item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider__list .slider__item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider__list .slider__item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider__controls .slider__controls-item-1::before,
#product-2:checked ~ .slider__controls .slider__controls-item-2::before,
#product-3:checked ~ .slider__controls .slider__controls-item-3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__info-caption,
.catalog-page__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider__info-caption {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;
}

.slider__text-decoration {
  margin: 0;
  margin-bottom: 40px;
}

.slider__controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider__controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider__button {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider__button::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.catalog-page__title {
  max-width: 735px;
  margin: 0 215px;
  padding: 0;
}

.btn {
  display: inline-block;
  max-width: 430px;
  padding: 16px 40px;
  text-align: center;
  vertical-align: middle;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.btn__big {
  padding: 16px 55px;
}

.btn__red {
  background-color: #fb565a;
}

.btn__red:hover,
.btn__red:focus {
  background-color: #e74246;
}

.btn__red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 1px 1px 10px -1px;
}

.btn__green {
  background-color: #00ca74;
}

.btn__green:hover,
.btn__green:focus {
  background-color: #00bc6c;
}

.btn__green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 1px 1px 10px -1px;
}

.btn__yellow {
  background-color: #efc84a;
}

.btn__yellow:hover,
.btn__yellow:focus {
  background-color: #eab534;
}

.btn__yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 1px 1px 10px -1px;
}

.btn__gray {
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.btn__gray:hover,
.btn__gray:focus {
  background-color: #dfdfdf;
}

.btn__gray:active {
  background-color: #d5d5d5;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 1px 1px 10px -1px;
}

.products {
  margin-bottom: 80px;
}

.product__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.product__item {
  width: 300px;
}

.product__item:last-of-type {
  margin-right: 60px;
}

.product__caption {
  display: block;
  margin-top: 18px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.product__info {
  margin: 0;
  margin-bottom: 32px;
}

.about-us {
  padding-top: 42px;
}

.about-us__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.about-us__info {
  width: 700px;
  padding-top: 35px;
}

.about-us__info-caption {
  display: block;
  margin-bottom: 33px;
}

.about-us__info-text-decoration {
  margin: 0;
  margin-bottom: 38px;
}

.about-us__info-subtitle {
  display: block;
  margin-bottom: 25px;
}

.about-us__statistic-subtitle {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 16px;
}

.about-us__info-list {
  margin: 0;
  padding: 0;
}

.about-us__info-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 35px;
}

.about-us__info-item::before {
  position: absolute;
  top: 40%;
  left: 0px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us__statistic {
  width: 360px;
}

.about-us__statistic-list {
  display: flex;
  justify-content: space-between;
}

.about-us__statistic-item:last-child {
  margin-right: 10px;
}

.about-us__statistics-text-decoration {
  margin: 0;
  font-size: 45px;
  margin-bottom: 15px;
}
/*
.about-us__statistics-span {
  line-height: none;
  
} */

.about-us__statistics-sup {
  position: relative;
  top: -0.7em;
  left: -0.4em;
  font-size: 55%;
}

.about-us__info-caption,
.about-us__statistics-text-decoration,
.feedback__subtitle {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.about-us__info-subtitle,
.about-us__statistic-subtitle {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.partners__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 78px;
}

.product__list::after,
.partners__list::after,
.about-us__container::after {
  position: absolute;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
  text-align: center;
}

.partners__list::after {
  top: 177px;
}

.product__list::after {
  top: 428px;
}

.about-us__container::after {
  top: 487px;
}

.partners__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 180px;
}

 .partners__link:not(:last-child)::after{
  position: absolute;
  top: 60px;
  left: 280px;
  content: "";
  width: 2px;
  height: 55px;
  background-color: #eeeeee;
}

.partners__logo {
  opacity: 0.2;
}

.partners__logo:hover,
.partners__logo:focus {
  opacity: 1;
}

.partners__logo:active {
  opacity: 0.1;
}

.coordinates__subtitle,
.catalog__item-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.sorting-form__container {
  align-items: flex-end;
}

.sorting__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting__item {
  margin-right: 27px;
}

.sorting__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorting__link {
  font-size: 14px;
  line-height: 18px;
  color: rgba(000, 000, 000, 0.3);
  text-transform: uppercase;
}

.sorting__link:hover,
.sorting__link:focus {
  color: rgba(000, 000, 000, 0.6);
}

.sorting__link:active {
  color: #000000;
}

.span-decoration {
  line-height: 18px;
}

.catalog-filter__container {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 300px;
}

.filter__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter__radio-item,
.filter__checkbox-item {
  line-height: 20px;
}

.filter__radio,
.filter__checkbox {
  border: none;
}

.catalog {
  width: 760px;
}

.catalog__item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  margin-bottom: 27px;
}

.catalog__item::before {
  display: block;
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("/img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.page-switcher__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 60px;
}

.page-switcher__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  margin-right: 10px;
  
}

.page-switcher__box:last-child {
  width: 262px;
}

.page-switcher__box:hover,
.page-switcher__box:focus {
  background-color: #dfdfdf;
}

.page-switcher:active {
  background-color: #d5d5d5;
}

.page-switcher {
  margin-bottom: 60px;
  margin-top: 62px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.map__box {
  height: 418px;
}

.coordinates {
  margin-bottom: 70px;
  background-image: url("/img/map.png");
  background-repeat: no-repeat;
  background-position: center;
}

.coordinates__subtitle {
  display: block;
  margin-bottom: 25px;
}

.coordinates__info,
.coordinates__text-decoration {
  color: #666666;
}

.coordinates__info {
  margin: 0;
  margin-bottom: 13px;
  margin-left: 3px;
}

.coordinates__text-decoration {
  margin: 0;
  margin-bottom: 35px;
  margin-left: 5px;
}

.coordinates__info,
.catalog__item-text {
  line-height: 18px;
  color: #666666;
}

.feedback {
  position: relative;
  margin-bottom: 70px;
}

.feedback__form {
  position: absolute;
  top: 55px;
  padding: 50px 55px;
  background-color: #fff;
}

.feedback__label {
  font-weight: 700;
  line-height: 18px;
}

.feedback__popup,
.catalog__item-info {
  display: none;
}

.social-network {
  width: 300px;
}

.social-network__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.social-network__call-caption {
  display: block;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.social-network__call-text {
  margin: 0;
  line-height: 22px;
  color: 444444;
}

.social-network__call {
  width: 800px;
  padding-left: 40px;
}

.social-network__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-network__item {
  display: inline-block;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
  vertical-align: middle;
}

.social-network__item:last-child {
  margin-right: 40px;
}

.social-network__item:hover,
.social-network__item:focus {
  background-color: #e74246;
}

.social-network__item:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #b63e42;
}

.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 14px;
}
