*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@-webkit-keyframes bounce {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  -webkit-clip-path: inset(100%);
}

.main-menu__list,
.main-menu-user__list,
.slider__list,
.about-us__info-list,
.partners__list,
.social-network__list,
.filter__radio-list,
.filter__checkbox-list,
.sorting__list,
.order__list {
  list-style: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  max-width: 430px;
  padding: 16px 40px;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.btn__slider {
  padding: 16px 55px;
}

.btn__feedback {
  padding: 16px 44px;
}

.btn__filter {
  padding: 16px 88px;
}

.btn__price {
  padding: 16px 60px;
}

.btn__modal {
  padding: 16px 85px;
}

.btn__red {
  background-color: #fb565a;
}

.btn__red:hover,
.btn__red:focus {
  background-color: #e74246;
}

.btn__red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.btn__green {
  background-color: #00ca74;
}

.btn__green:hover,
.btn__green:focus {
  background-color: #00bc6c;
}

.btn__green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  -webkit-box-shadow: inset 0 3px 0 0 #009958;
  box-shadow: inset 0 3px 0 0 #009958;
}

.btn__yellow {
  background-color: #efc84a;
}

.btn__yellow:hover,
.btn__yellow:focus {
  background-color: #eab534;
}

.btn__yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  -webkit-box-shadow: inset 0 3px 0 0 #ce961f;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.btn__gray {
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.btn__gray:hover,
.btn__gray:focus {
  background-color: #dfdfdf;
}

.btn__gray:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.slider__info-caption,
.catalog-page__title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.about-us__info-caption,
.about-us__statistic-text-decoration,
.feedback__subtitle {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us__info-subtitle,
.about-us__statistic-subtitle {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.coordinates__subtitle,
.catalog__item-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.page-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.page-header.catalog-page {
  margin-bottom: 55px;
  padding-bottom: 110px;
}

.main-menu {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-menu__link {
  color: #000000;
}

.main-menu__link:hover,
.main-menu__link:focus {
  color: #fb565a;
}

.main-menu__link:active {
  color: #a6a6a6;
}

.navigation-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.navigation-panel.catalog-page {
  margin-bottom: 70px;
}

.logo__container {
  width: 200px;
  height: 65px;
}

.main__logo:hover,
.main__logo:focus {
  opacity: 0.8;
}

.main__logo:active {
  opacity: 0.3;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
}

.main-menu__list .current::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.main-menu__item {
  position: relative;
  margin-right: 46px;
}

.main-menu-user__list {
  align-self: flex-end;
  -ms-flex-item-align: end;
}

.main-menu__user-item {
  position: relative;
}

.main-menu__user-item::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 16px;
  height: 18px;
  margin-left: -40px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.3;
}

.slider__box {
  position: relative;
}

.slider {
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
}

.slider__controls {
  position: absolute;
  bottom: 104px;
  left: 50%;
  z-index: 100;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 160px;
  height: 18px;
  font-size: 0;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider__controls-toggle {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls-toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider__controls .active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__item {
  display: none;
  padding: 71px 0 80px 0;
}

.slider__item:nth-child(1) {
  /* Переключатель слайдов */
  display: block;
}

.slider__item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider__item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider__item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider__info-caption {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;
}

.slider__text-decoration {
  max-width: 400px;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-page__title {
  max-width: 735px;
  margin: 0 215px;
  padding: 0;
}

.product__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.product__item {
  width: 300px;
}

.product__item:last-of-type {
  margin-right: 60px;
}

.product__caption {
  display: block;
  margin-top: 18px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.product__info {
  max-width: 260px;
  margin: 0;
  margin-bottom: 32px;
}

.about-us__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.about-us__info {
  width: 700px;
  padding-top: 35px;
}

.about-us__info-caption {
  display: block;
  margin-bottom: 33px;
}

.about-us__info-text-decoration {
  max-width: 660px;
  margin: 0;
  margin-bottom: 38px;
}

.about-us__info-subtitle {
  display: block;
  margin-bottom: 25px;
}

.about-us__info-list {
  margin: 0;
  padding: 0;
}

.about-us__info-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 35px;
}

.about-us__info-item::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us__statistic {
  width: 360px;
}

.about-us__statistic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.about-us__statistic-item:last-child {
  margin-right: 11px;
}

.about-us__statistic-subtitle {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 16px;
}

.about-us__statistic-text-decoration {
  margin: 0;
  margin-bottom: 11px;
  font-size: 45px;
}

.about-us__statistic-text-decoration::after {
  content: "\0025";
  position: relative;
  top: -0.7em;
  font-size: 55%;
}

.about-us__statistic-span {
  display: inline-block;
  max-width: 110px;
  line-height: 18px;
  vertical-align: top;
  word-wrap: break-word;
}

.partners__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 78px;
  padding: 0;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.partners__item {
  position: relative;
}

.partners__item:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 280px;
  width: 2px;
  height: 55px;
  background-color: #eeeeee;
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 180px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.partners__logo {
  opacity: 0.2;
}

.partners__logo:hover,
.partners__logo:focus {
  opacity: 1;
}

.partners__logo:active {
  opacity: 0.1;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  padding-right: 2px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.sorting-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting__list,
.order__list,
.order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting__list {
  margin-right: 50px;
}

.sorting__item:not(:last-child) {
  margin-right: 25px;
}

.order__item:not(:last-child) {
  margin-right: 19px;
}

.sorting__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorting__link {
  font-size: 14px;
  line-height: 18px;
  color: rgba(000, 000, 000, 0.3);
  text-transform: uppercase;
}

.sorting__link:hover,
.sorting__link:focus {
  color: rgba(000, 000, 000, 0.6);
}

.sorting__link:active,
.sorting__item .current {
  color: #000000;
}

.order__link-arrowdown {
  align-self: center;
  width: 0;
  height: 0;
  border-top: 10px solid #ededed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  cursor: pointer;
  -ms-flex-item-align: center;
}

.order__link-arrowup {
  align-self: center;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #ededed;
  border-left: 5px solid transparent;
  cursor: pointer;
  -ms-flex-item-align: center;
}

.order__link-arrowdown:hover,
.order__link-arrowdown:focus {
  border-top-color: #a6a6a6;
}

.order__link-arrowup:hover,
.order__link-arrowup:focus {
  border-bottom-color: #a6a6a6;
}

.order__link-arrowdown:active,
.order__link.current {
  border-top-color: #231f20;
}

.order__link-arrowup:active,
.order__link.current {
  border-bottom-color: #231f20;
}

.catalog-filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.filter__radio,
.filter__checkbox,
.filter__amount {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__radio {
  margin-bottom: 40px;
}

.filter__checkbox {
  margin-bottom: 46px;
}

.filter__amount {
  margin-bottom: 55px;
}

.filter {
  width: 300px;
}

.filter__range {
  width: 260px;
  margin-top: 45px;
}

.filter__controls {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.filter__controls .scale {
  height: 2px;
  background: #d7dcde;
}

.filter__controls .bar {
  width: 65%;
  height: 2px;
  background: #00ca74;
}

.filter__controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter__input[type="radio"],
.filter__input[type="checkbox"] {
  margin-right: -17px;
  opacity: 0;
}

.filter__radio-label,
.filter__checkbox-label {
  position: relative;
  padding-left: 34px;
  word-wrap: break-word;
  cursor: pointer;
}

.filter__radio-label:hover,
.filter__radio-label:focus,
.filter__checkbox-label:hover,
.filter__checkbox-label:focus {
  color: #000000;
}

.filter__input[type="radio"]:disabled+.filter__radio-label,
.filter__input[type="checkbox"]:disabled+.filter__checkbox-label {
  color: rgba(0, 0, 0, 0.1);
}

.filter__radio-label::before,
.filter__radio-label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  border-radius: 50%;
}

.filter__radio-label::before {
  width: 25px;
  height: 25px;
  border: solid 4px #a6a6a6;
}

.filter__radio-label::after {
  width: 25px;
  height: 25px;
  background-color: #a6a6a6;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.filter__input[type="radio"]:checked~.filter__radio-label::after {
  -webkit-transform: scale(0.35);
  transform: scale(0.35);
}

.filter__input[type="radio"]:hover+.filter__radio-label::after,
.filter__input[type="radio"]:focus+.filter__radio-label::after {
  background-color: #4d4d4d;
}

.filter__input[type="radio"]:hover+.filter__radio-label::before,
.filter__input[type="radio"]:focus+.filter__radio-label::before {
  border-color: #4d4d4d;
}

.filter__input[type="radio"]:disabled+.filter__radio-label::before {
  border-color: rgba(0, 0, 0, 0.1);
}

.filter__input[type="radio"]:disabled+.filter__radio-label::after {
  background-color: rgba(0, 0, 0, 0.1);
}

.filter__checkbox-label::before,
.filter__checkbox-label::after {
  content: "";
  position: absolute;
  opacity: 0.4;
}

.filter__checkbox-label::before {
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter__input[type="checkbox"]:checked~.filter__checkbox-label::before {
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter__input[type="checkbox"]:hover+.filter__checkbox-label::before,
.filter__input[type="checkbox"]:focus+.filter__checkbox-label::before,
.filter__input[type="checkbox"]:hover+.filter__checkbox-label::after,
.filter__input[type="checkbox"]:focus+.filter__checkbox-label::after {
  opacity: 0.8;
}

.filter__input[type="checkbox"]:disabled+.filter__checkbox-label::before,
.filter__input[type="checkbox"]:disabled+.filter__checkbox-label::after {
  opacity: 0.1;
}

.price__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
}

.price__controls-label {
  display: inline-block;
  width: 50%;
  line-height: 22px;
  vertical-align: top;
  text-transform: uppercase;
}

.price__controls-label.min-price {
  margin-right: 30px;
}

.price__controls .price__input {
  width: 80px;
  margin-left: 7px;
  padding: 10px 10px;
  text-align: center;
  background: #f1f1f1;
  border: none;
  border-radius: 4px;
}

.filter__controls .toggle-min {
  /* Управление ползунком */
  left: 18px;
}

.filter__controls .toggle-max {
  /* Управление ползунком */
  left: 160px;
}

.filter__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter__radio-item,
.filter__checkbox-item {
  display: block;
  margin-top: 15px;
  padding-bottom: 5px;
  line-height: 20px;
}

.filter__radio-list,
.filter__checkbox-list {
  margin: 0;
  padding: 0;
}

.catalog {
  width: 760px;
}

.catalog__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.catalog__item {
  position: relative;
  margin-bottom: 34px;
  cursor: pointer;
}

.catalog__item:hover,
.catalog__item:focus {
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog__item:hover>.catalog__item-info,
.catalog__item:focus>.catalog__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__item:hover::before,
.catalog__item:focus::before {
  opacity: 1;
}

.catalog__item::before {
  content: "";
  display: block;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog__item-img {
  display: block;
}

.catalog__item-link {
  color: #000000;
}

.catalog__item-info {
  position: absolute;
  bottom: 0;
  display: none;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  width: 360px;
  max-height: 578px;
  padding-bottom: 41px;
  text-align: center;
  background-color: #eeeeee;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
  -ms-flex-align: center;
  -ms-flex-line-pack: center;
  -ms-flex-pack: end;
}

.catalog__item-subtitle,
.catalog__item-text {
  margin: 0;
  padding: 0;
}

.catalog__item-subtitle {
  display: block;
  margin-bottom: 16px;
  padding-top: 27px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.catalog__item-text {
  display: block;
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow-x: auto;
  word-wrap: break-word;
}

.catalog__item:nth-child(1) .catalog__item-text,
.catalog__item:nth-child(3) .catalog__item-text,
.catalog__item:nth-child(4) .catalog__item-text {
  padding: 0 20px;
}

.page-switcher__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 58px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
}

.page-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  padding: 13px 17px;
  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.page-switcher:last-child {
  padding: 13px 75px;
}

.page-switcher:hover,
.page-switcher:focus {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.page-switcher:active {
  padding: 16px 20px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  border: none;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.page-switcher:last-child:active {
  padding: 16px 78px;
}

.page-switcher__container .current {
  text-decoration: none;
  background-color: transparent;
  border: 3px solid #dbdbdb;
  cursor: default;
  pointer-events: none;
}

.map__box {
  height: 418px;
}

.coordinates {
  margin-bottom: 70px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center;
}

.coordinates__subtitle {
  display: block;
  margin-bottom: 23px;
  padding-top: 2px;
}

.coordinates__info,
.coordinates__text-decoration {
  color: #666666;
}

.coordinates__info {
  max-width: 210px;
  margin: 0;
  margin-bottom: 13px;
}

.coordinates__text-decoration {
  margin: 0;
  margin-bottom: 35px;
}

.coordinates__text-decoration.catalog-page {
  padding-top: 3px;
}

.coordinates__info,
.catalog__item-text {
  line-height: 18px;
  color: #666666;
}

.feedback {
  position: relative;
  margin-bottom: 70px;
}

.coordinates__form {
  position: absolute;
  top: 55px;
  padding: 47px 50px;
  background-color: #ffffff;
}

.feedback__label {
  font-weight: 700;
  line-height: 18px;
}

.feedback__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: none;
  /* Прячем модальное окно     */
  width: 960px;
  padding: 70px 100px 80px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback__form input[type="text"],
.feedback__form input[type="email"],
.feedback__form textarea {
  font: inherit;
  color: #b4b9bb;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.feedback__form input[type="text"],
.feedback__form input[type="email"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  padding: 11px;
}

.input__textarea {
  width: 760px;
  height: 120px;
  padding: 11px;
  resize: none;
}

.feedback__form input[type="text"]:hover,
.feedback__form input[type="email"]:hover,
.feedback__form textarea:hover {
  color: #b4b9bb;
  border-color: #b4b9bb;
}

.feedback__form input[type="text"]:focus,
.feedback__form input[type="email"]:focus,
.feedback__form textarea:focus {
  color: #000000;
  border-color: #000000;
  outline: none;
}

.feedback__form input[type="text"]:invalid,
.feedback__form input[type="email"]:invalid,
.feedback__form textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}

.feedback__subtitle {
  display: inline-block;
  margin-bottom: 40px;
  vertical-align: top;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.feedback__form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.feedback__textarea-box {
  margin-bottom: 45px;
}

.feedback__label {
  margin-bottom: 10px;
}

.close_window {
  position: absolute;
  top: 70px;
  left: 830px;
  width: 27px;
  height: 27px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.close_window::before,
.close_window::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 27px;
  height: 5px;
  background-color: #fb565a;
  border-radius: 2px;
  opacity: 0.3;
}

.close_window:hover::before,
.close_window:focus::before,
.close_window:hover::after,
.close_window:focus::after {
  opacity: 1;
}

.close_window:active::before,
.close_window:active::after {
  opacity: 0.1;
}

.close_window::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close_window::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.social-network {
  width: 300px;
}

.social-network__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.social-network__call-caption {
  display: block;
  margin-bottom: 10px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.social-network__call-text {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

.social-network__call {
  width: 760px;
}

.social-network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  vertical-align: middle;
  background-color: #e1e1e1;
  border-radius: 50%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.social-network__item:last-child {
  margin-right: 40px;
}

.social-network__link:hover,
.social-network__link:focus {
  background-color: #e74246;
}

.social-network__link:active path {
  fill: #e37376;
}

.social-network__link:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #b63e42;
  box-shadow: inset 0 3px 0 0 #b63e42;
}